#FirstParagraph {
  background-color: blue;
  color: white;
}
p:hover {
  font-weight:bold;
  background-color:red;
}
#SecondParagraph {
  font-family: Barrio;
}

.box {
  width: 100px;
  height: 100px;
  display: inline-block;
}

#one {
  background-color: blue;
}

#two {
  background-color: blue;
}

#three {
  background-color: green;
}
#p6:hover {
  color:orange;
  background-color:white;
}
#image {
  margin: auto;
  width:50% ;
}
p {
  
}
  
